

@import "variables";
@import "reset";
@import "typography";
@import "header";
@import "footer";
@import 'slick';

@media (min-width: 768px) { }
@media (min-width: 992px) { }
@media (min-width: 1200px) { }

body {
    font: normal 62.5%  $font_stack;
    background: white;
    position: relative;
    color: $font_color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

#map_container {
    background: $light_grey;
    height: 300px;
}
