
$header_height: 130px;
$logo_size: 50px;


@media (min-width: 768px) {
}

#menu_button {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 60px;
    right: 10px;
    background: url('../img/menu.svg') no-repeat center;
    background-size: cover;
    text-indent: -9999px;
    cursor: pointer;


    @media (min-width: 768px) {
        display: none;
    }

}

header {
    background: $brand_color;
    height: $header_height;
    margin: 0;
    border-bottom: 2px solid transparentize(white, 0.5);

    a#branding {
        display: inline-block;
        width: 200px;
        height: $logo_size;
        position: relative;
        top: 50px;
        flex: 1 auto 0;
        background: url('../img/h1.svg') no-repeat center left;
        background-size: contain;
        text-indent: -9999px;

        @media (min-width: 768px) {
            width: 300px;
        }

    }

    nav {

        color: white;
        text-align: right;
        position: relative;

        ul {
            padding: 0;
            position: fixed;
            z-index: 1000;
            top:0;
            right: 0;
            height: 100vh;
            width: 300px;
            overflow: scroll;
            background: $dark_grey;
            margin: 0;


            // MENU FOR DESKTOP
            @media (min-width: 768px) {
                display: block;
                margin:  70px -10px 0;
                position: static;
                height: auto;
                width: auto;
                background: none;
                overflow: visible;
            }



            li {
                display: block;
                padding: 0 0 28px;
                margin: 0;
                line-height: 1;
                font-weight: bold;
                position: relative;
                transition: all 0.3s;

                @media (min-width: 768px) {
                    display: inline-block;
                }


                a {
                    display: block;
                    color: white;
                    text-decoration: none;
                    padding: 7px 10px;
                    margin:  0 0;
                    position: relative;
                    &:link, &:visited, &:active {
                        color: white;
                    }

                    @media (min-width: 768px) {
                        display: inline-block;
                    }
                }

                &:last-child {

                    &:hover {
                        background: none;
                    }
                    a {
                        background: $light_green;
                        border-radius: 20px;

                        &:hover {
                            background-color: lighten($light_green, 4);
                            transform: scale(1.1);
                        }
                    }
                }


                &:hover {
                    background:  darken($dark_green, 10);
                    ul.sub-menu {
                        display: block;
                    }
                }
                ul.sub-menu {
                    animation: fadeInFromTop 0.5s;
                    display: none;
                    position: absolute;
                    top: -20px;
                    right: 10px;
                    z-index: 30;
                    text-align: right;
                    width: 300px;

                    li {
                        display: block;
                        font-size: 1em;
                        padding: 0;
                        margin: 0;
                        background:  darken($dark_green, 10);
                        border-top: 1px solid darken($dark_green, 7);
                        border-bottom:  1px solid darken($dark_green, 13);
                        &:hover {
                            background:  darken($dark_green, 10);
                        }
                        a {
                            background: none;
                            padding: 10px;
                            display: block;
                            border-radius: 0;

                            &:hover {
                                background: darken($dark_green, 6);
                                transform: none;
                            }

                        }
                    }
                }
            } // end of li





        } // end of ul



    } // end of nav


}
