

$dark_green: #12753f;
$light_green: #00b050;
$brand_color: $dark_green;

$font_stack:  'Alegreya Sans',  'Gotham', arial, verdana,  sans-serif;
$heading_font_stack:  $font_stack;
$font_size: 1.6em;
$font_color: #222;

$light_grey: #eeeeee;
$medium_grey: #aaaaaa;
$dark_grey: #555555;
$black: #161616;


$border_radius: 10px;


$mobile_width: 768px;
$tablet_width: 992px;
$browser_width: 1200px;


@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
